// -> AddItem
.fd-commands {
    &__additem {
        background-color: $color-primary--dark;
        border-radius: ($border-radius - 20px);
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            fill: white;
        }
    }
}
